:root {
  --color-bg: #0D1B2A;
  --color-text: #E0E1DD;
}

.light:root {

  --color-bg: #dadada;
  --color-text: #0D1B2A;
}


html,

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1.2rem;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease-in;
}

.navbar {
  background-color: rgb(59, 71, 85);
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-text);
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  margin-right: 20px;
  
}

.navbar-nav .nav-link:hover {
  color: #478dff;
}

.details-section {
  display: flex;
  gap: 200px;
  height: calc(100vh - 80px);

}

.movie-details {
  padding: 20px;
}

.details-image {
  max-width: 450px;
  width: 100%;
}

.contact-section {
  background-color: rgb(59, 71, 85);
  padding: 40px 0;
  margin-top: 40px;
}

.contact-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #E0E1DD;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-icons a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease-in;
}

.contact-icons a:hover {
  color: #47cbff;
}

.contact-icons img {
  width: 40px;
  height: 40px;
}


.contact-icons img {
  width: 40px;
  height: 40px;
}
.logo img {
  width: 50px;
  height: 40px;
  
}
